.index {
  margin: 0 auto;
  max-width: 1140px;
  padding: 2rem 0;
  position: relative;
}

.index .top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.index h1 {
  margin-bottom: 1rem;
}

.index .subjects-filter {
  width: 33.3%;
}

.index .add-subject {
  bottom: -2rem;
  position: absolute;
  right: -2rem;
}
