.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px #bbbbbb;
  display: block;
  height: 10.1rem;
  padding: 2rem;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 5px 1px #cb2026;
}
